# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Sensitive files
.env
/android/app/google-services.json

# IDE specific
.idea/
.vscode/

# Android specific
/android/app/src/main/assets/secrets.json
/android/key.properties
/android/local.properties

# iOS specific
/ios/Flutter/App.xcconfig
/ios/Flutter/Generated.xcconfig

# Build artifacts
*.iml
*.metadata
